.calculator__tooltip-text {
  background-color: #fff1cb;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding: 15px;
  border-radius: 10px;
  width: 450px;
  position: absolute;
  right: -252px;
  bottom: 35px;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
  opacity: 0.95;
  box-sizing: border-box;
}

.calculator__tooltip-logo:hover + .calculator__tooltip-text,
.calculator__tooltip-logo:focus + .calculator__tooltip-text {
  display: block;
}
