.calculator__span {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid rgb(35, 49, 105);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateZ(-50px);
  transition: all 0.3s ease-in-out;
}

.calculator__span::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: #fff1cb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
